@import "../styles/mixin.scss";

.header-navbar {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.header-navbar-inner {
		display: flex;
		align-items: center;

		.header-navmenu-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			list-style-type: none;

			@include responsive(tablet) {
				gap: 10px;
				flex-direction: column;
				align-items: flex-end;
			}

			@include responsive(phone) {
				gap: 6px;
			}

			.header-navmenu-menu-item {
				position: relative;
				.header-navmenu-link {
					color: #1e1e1e;
					text-decoration: none;
					font-size: 14px;
					font-weight: 500;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}
		}

		.wp-block-header-template-navmenu {
			@include responsive(tablet) {
				position: fixed;
				right: -100vw;
				max-width: 400px;
				display: block;
				top: 0;
				bottom: 0;
				width: 100%;
				background: #ffffff;
				height: 100%;
				padding: 20px;
				z-index: 99999999999;
				transition: all 0.4s ease-in-out;
				overflow-y: auto;
				scrollbar-width: none;
				-ms-overflow-style: none;

				&.is-open {
					right: 0;
				}

				&::-webkit-scrollbar {
					display: none;
				}
			}

			@include responsive(phone) {
				max-width: 300px;
			}

			.sidebar-header {
				display: none;

				@include responsive(tablet) {
					display: flex;
				}

				justify-content: space-between;

				.close-button {
					background: transparent;
					border: 1px solid #5e5e5e;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					font-size: 20px;
					color: #5e5e5e;
					cursor: pointer;
					z-index: 9999999;
    				position: relative;
				}

				.mobile-logo {
					.custom-logo-link {
						width: 80px;
						display: block;

						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}

			.navmenu-separator {
				display: none;
				width: 200px;
				height: 2px;
				background: #b3b3b3;
				margin-left: auto;
				margin-top: 20px;

				@include responsive(tablet) {
					display: block;
				}
			}

			.sidebar-topbar-container {
				display: none;
				padding-top: 20px;

				@include responsive(tablet) {
					display: block;
					text-align: right;

					.header-topbar-menu {
						flex-direction: column;
						display: inline-flex;
					}
				}
			}

			.sidebar-extra-button-container {
				display: none;

				@include responsive(tablet) {
					display: block;
				}
			}
		}

		.hamburger-button {
			display: none;
			border: 1px solid #868686;
			background-color: transparent;
			margin-left: auto;
			cursor: pointer;
			width: 40px;
			height: 40px;
			border-radius: 50%;

			@include responsive(tablet) {
				display: block;
			}

			svg {
				width: 25px;
				height: 25px;
			}
		}


		@include responsive(tablet) {
			.wp-block-button {
				display: none;
			}

			.sidebar-extra-button-container {
				padding-top: 20px;

				.wp-block-button {
					display: flex;
					justify-content: flex-end;
				}
			}
		}

		.menu-overlay {
			visibility: hidden;
			opacity: 0;
			transition: all 0.4s ease-in-out;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			cursor: pointer;

			@include responsive(tablet) {
				visibility: hidden;
				opacity: 0;
				background: rgba(0, 0, 0, 0.5);
				z-index: 999999999;
			}

			&.is-open {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}